body {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    background-color: #f8f8f8;
    margin: 40px;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
}

p {
    margin: 5px 0;
    white-space: pre-line;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.espacio{
    margin-top: 80%;
}
.monto {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.fecha {
    margin-right: 150px;
}

.moneda {
    margin-right: 150px;
}

.contenido {
    line-height: 1.8;
}

.banco-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: right;
}

.metodo {
    margin-right: 150px;
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.banco {
    margin-left: 150px;
    flex: 1;
    text-align: left;
}
.contenido {
    line-height: 1.8;
}
/* Estilos para la impresión */
@media print {
    button {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        max-width: none;
    }
}
